
.wrapper {
width:1200px;
background:White;
margin:0 auto 0 auto;
}
.heading {
height:100px;
background: White;
padding: 30px;
padding-top: 30px;
padding-bottom: 5px;
text-align: center;
font-family:Helvetica;
font-size:22pt;
color:White;
}
p
{
margin-top:5px;
font-family:goorgin;
padding:10px;
}
.title{
font-family:Helvetica;
font-size:18pt;
background:#092C3B;
color:white;
padding:10px;
display:block;
font-weight:bold;
text-align:center;

}
.navigation{
height:15px;
background:#1795D2;
margin-bottom: 10px;
padding: 15px;
font-family:Tahoma;
font-size:10px;
}
.navigation ul{
font-size: 18px;
text-align: left;
margin-top: auto;
margin-bottom: auto;
}
.navigation ul li{
display:inline;
margin-right:30px;
padding:6px;
}
.navigation a{
color:white;
text-decoration:blink;
}
.navigation a:hover{
color:black;
text-decoration:blink;
}
.content{
min-height:450px;
background:#eee;
width:600px;
float:left;
font-family:Helvetica;


}
.sidebar{
width: 585px;
float:right;
color: white;
font-family:Helvetica; 
text-align: center;
background:#092C3B;
min-height:450px;
margin-bottom: 10px;
}
.footer
{
clear:both;
background:#092C3B;
margin-top: auto;
margin-bottom: auto;
height:40px;
color:White;
text-align:center;
font-family:Helvetica;
padding-top: 20px;
font-size:12pt;
}
.OpportunityForm{
		width: 320px;
		height: 520px;
		background: #092C3B;
		color: #fff;
		box-sizing: border-box;
		padding: 70px 30px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20;
		margin-bottom: 20;
	}
	.OpportunityForm input{
		width: 100%;
		margin-bottom: 20px;
	}
	.OpportunityForm input[type="text"]{
		border: none;
		border-bottom: 1px solid #fff;
		background: transparent;
		outline: none;
		height: 40px;
		color: #fff;
		font-size: 14px;
	}
	.OpportunityForm input[type="submit"]
	{
		border: none;
		outline: none;
		height: 40px;
		background: #1795D2;
		color: #fff;
		font-size: 18px;
		border-radius: 20px;
	}
	.OpportunityForm input[type="submit"]:hover
	{
		cursor: pointer;
		background: #ffc107;
		color: #000;
	}
	
	
	.OpportunityForm p{
		font-family: Helvetica;
		margin: 0;
		padding: 0;
		font-weight: bold;
		font-size: 16px;
	}


	.OpportunityForm input[type="file"]{
		display: none;
	}


	label{
	padding: 10px;
    background: #1795D2; 
    display: table;
    color: #fff;
    margin-left: 80;
    margin-bottom: 15;
	}
	label:hover{
	cursor: pointer;
		background: #ffc107;
		color: #000;
	}
